<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Binance App</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link <%= active === 'index' ? 'active' : '' %>" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= active === 'wallet' ? 'active' : '' %>" href="/wallet">Wallet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= active === 'history' ? 'active' : '' %>" href="/history">History</a>
        </li>
    </ul>
</nav>